<% include header %>
<form method="post" action="/edit/<%= post.name %>/<%= post.time.minute %>/<%= post.title %>">
    标题:<br>
    <input type="text" name="title" value="<%= post.title %>" disabled><br>
    内容:<br>
    <textarea rows="10" cols="100" name="post"><%= post.post %></textarea><br>
    <input type="submit" value="修改">
</form>
<% include footer %>